.choice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    color: red;
}

.box {
    border: 2px solid white;
}

.showStr {
    background: rgba(0, 0, 0, 0.5);
    color: blanchedalmond;
    border-radius: 5px;
    border: 1px solid blanchedalmond;
    padding: 0 5px;
}

.btnDel {
    border: 2px solid brown;
    border-radius: 4px;
    background:  blanchedalmond;
}

.saveNote {
    border: 2px solid green;
    border-radius: 4px;
    background:  blanchedalmond;
}

.inpNote, .backButt {
    margin-top: 2%;
    margin-bottom: 1%;
    font-style: oblique;
    font-size: 21px;
    border-radius: 5px;
    background:  blanchedalmond;
}

.InputBack {
    margin-top: 15px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: space-between;
}